<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Developer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    src="assets/dev3.jpg"
    class="circle-image"
  ></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>About Me</h2>
        <p>
          Hello, I'm Someswar, a passionate developer with a strong interest in
          creating innovative and user-centric applications. I have a deep
          enthusiasm for problem-solving and a curiosity for learning new
          technologies.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Skills</h2>
        <table>
          <tr>
            <th>Programming Languages</th>
            <td>c, java, javascript, angularjs, html/css, typescript</td>
          </tr>
          <tr>
            <th>Web Development</th>
            <td>html, css, bootstrap, javascript</td>
          </tr>
          <tr>
            <th>Mobile App Development</th>
            <td>ionic, flutter</td>
          </tr>
          <tr>
            <th>Database Management</th>
            <td>firebase</td>
          </tr>
          <tr>
            <th>Version Control</th>
            <td>[e.g., Git]</td>
          </tr>
        </table>
      </ion-col>
    </ion-row>

    <!-- Add more ion-row sections for Experience, Projects, Education, Interests, and Contact -->
    <!-- Follow the same structure as the example above -->
  </ion-grid>
</ion-content>
