

<ion-content>
  <div style="height: 90%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
    <ion-card-header>
      <ion-img width="50" height="50" src="assets/csd_logo.png" (click)="RedirectToOtherPage()" (click)="showLoading()"></ion-img>

      <ion-card-subtitle>Established in 2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     An Official App to explore more about CSD.    
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
